PROJECT_NAME=tb-detection
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=skripsi-tb-detection
DB_USER=postgres
DB_PASSWORD=password

JWT_ALG=HS256
JWT_EXP=21000
JWT_SECRET=nRK8viZG6OVuwPPZK3XIb9q9gzvKOYlE
DATABASE_URL=postgresql://postgres:12345678@localhost:5432/skripsi-tb-detection

ENVIRONMENT=LOCAL

CORS_HEADERS=["*"]
CORS_ORIGINS=["http://localhost:3000"]

PG_ADMIN_EMAIL=admin@admin.com
PG_ADMIN_PASSWORD=admin
